.poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.corHeader {
	background-color: #1a1033;
	width: 100%;
}
.header {
	height: 96px;
	align-items: center;
}
.header img {
	width: 150px;
	height: 38px;
}
.corLinha {
	color: #08001a;
}
h6 {
	margin-top: 8px;
}
p {
	color: #ffffff;
}
label {
	color: #ffffff;
}
.resultadoInput {
	width: 88px;
	height: 35px;
	background-color: #fbb04d;
	color: #ffffff;
	padding: 11px, 24px, 10px, 24px;
}
.resultado:hover,
.resultado:active,
.resultado:focus-visible {
	background-color: #fbb04d;
	color: #ffffff;
}
.botao {
	background-color: #fbb04d;
	color: #1a1033;
	font-family: "Poppins", sans-serif;
	font-size: 16px;
	line-height: 24px;
}
.botao:hover,
.botao:active,
.botao:focus-visible {
	background-color: #fbb04d;
}
.botaoGet {
	width: 219px;
	height: 56px;
	margin-top: 10px;
}
.botaoBusca {
	width: 158px;
	height: 55px;
}
.botaoFiltra {
	width: 222px;
	height: 40px;
	padding: 11px, 24px, 10px, 24px;
}
.btnLimpar {
	border: none;
	color: #6950a1;
	background-color: #ffffff;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 16.8px;
}
.btnVerMais {
	border: none;
	color: #004ce8;
	background-color: #ffffff;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 16.8px;
	padding: 0px;
}
.colfiltro {
	width: 270px;
	height: 1115px;
}
.textVagas {
	color: #1a1033;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 32px;
	line-height: 48px;
}
.subText {
	color: #4a4a68;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 18px;
	line-height: 31.1px;
	margin-bottom: 20px;
}
.titulo {
	color: #1a1033;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 18px;
	line-height: 24.57px;
}
.titulosCheckbox {
	margin-top: 30px;
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	color: #1a1033;
}
.textCheckbox {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 19.6px;
	color: #212121;
}
.informacao {
	width: 870px;
	height: 301px;
	padding: 20px;
	border-radius: 16px;
}

.titutoCard {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-size: 18px;
	line-height: 24.57px;
	margin-bottom: 0;
}
.subTituloCard {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 19.6px;
	margin-bottom: 20px;
}
.dataCard {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 19.6px;
}
.linguagemCard {
	width: 88px;
	height: 30px;
	border-radius: 8px;
	border: 1px solid #6950a1;
	color: #6950a1;
	padding: 2px 15px;
	text-align: center;
}
.infoVagaCard {
	margin-top: 20px;
	display: flex;
	align-items: center;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 19.6px;
	gap: 10px;
}
.textVagaCard {
	margin: 20px 0;
	width: 823px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 25.2px;
	color: #4a4a68;
}
.detalhesVaga {
	width: 131px;
	height: 20px;
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 19.6px;
	color: #5d5fef;
}

.tamanhoInput {
	width: 455px;
	height: 56px;
}
.iconPesquisa {
	width: 24px;
	height: 24px;
	color: #4a4a68;
	position: absolute;
	left: 10%;
	top: 21%;
	font-size: 30px;
}
.distancia {
	padding-left: 50px;
}
.iconLocaliza {
	width: 24px;
	height: 24px;
	color: #4a4a68;
	position: absolute;
	left: 46%;
	top: 21%;
	font-size: 30px;
}
.iconFinan {
	color: #fbb04d;
	width: 13.33px;
	height: 13.33px;
}
.iconMap {
	color: #fbb04d;
	width: 13.33px;
	height: 13.33px;
}
.iconDevice {
	color: #fbb04d;
	width: 13.33px;
	height: 13.33px;
}
.iconContatos {
	display: flex;
	padding-left: 4px;
	width: 16px;
	height: 16px;
}
.textContatos {
	color: #ffffff;
	padding-left: 10px;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 30.08px;
}
.colortitle {
	color: #fbb04d;
}

.iconPadrao {
	width: 24px;
	height: 24px;
	border-radius: 10px;
	background-color: #fbb04d;
}
.btnLocaliza {
	padding-left: 2px;
	width: 44px;
	height: 24px;
	border-radius: 50px;
	background-color: #fbb04d;
}

.accordion-content {
	display: none;
}

.accordion-btn {
	background-color: #f1f1f1;
	color: #333;
	cursor: pointer;
	padding: 10px;
	width: 100%;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

.accordion-btn.active {
	background-color: #ddd;
}

.accordion-content.show {
	display: block;
}
